/* Global Styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Work Sans", serif;
  background-color: var(--color-offwhite);
  color: var(--color-charcoal);

  --color-brick: #b85042;
  --color-brick-hover: #9e3f34; /* Darker brick red */

  --color-beige: #f2e1c1;
  --color-beige-hover: #d9c4a8; /* Darker beige */

  --color-charcoal: #3e3e3e;
  --color-charcoal-hover: #2c2c2c; /* Darker charcoal */

  --color-olive: #8a8a74;
  --color-olive-hover: #747460; /* Darker olive */

  --color-offwhite: #eae7dc;
  --color-offwhite-hover: #d2cfc2; /* Darker off-white */
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
} */
